
.carousel-item {
  position: absolute;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}


.App {
  text-align: center;
}

.player {
  margin: 20px auto;
  max-width: 800px;
}

.video-player {
  width: 100%;
  height: auto;
}
